<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>Sourcegraph</string>
	<key>Extension Identifier</key>
	<string>com.sayayuka.popclip.extension.sourcegraph</string>
	<key>Extension Description</key>
	<string>Sourcegraph</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>URL</key>
			<string>https://code.saf-service.sap.corp/search?q={popclip text}&amp;patternType=literal</string>
			<key>Image File</key>
			<string>Sourcegraph.png</string>
			<key>Title</key>
			<string>Sourcegraph</string>
		</dict>
	</array>
</dict>
</plist>