<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>Jira</string>
	<key>Extension Identifier</key>
	<string>com.sayayuka.popclip.extension.jira</string>
	<key>Extension Description</key>
	<string>Jira</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>URL</key>
			<string>https://jira.successfactors.com/browse/{popclip text}</string>
			<key>Title</key>
			<string>Jira</string>
		</dict>
	</array>
</dict>
</plist>